  /* our vision style */

body{
	background-color: #f7f7f7;
	color: black;
}

body.dark-mode {
	background-color: #1c4485;
	color: #f7f7f7;
}
.visionbackground{
	background-color: #93D4EC;

}
body.dark-mode .visionbackground{
	background-color: #1c4485;
}

.visionPic{
	margin-left: 3.6vw;
	margin-right: 1.8vw;
	padding-left: 1.2vw;
	align-items: center;
	padding-top: 11vw;
	
}
.visionPic img{
width:32%
}

.vision{
    padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 3.5vw;
	padding-top: 10vw;
	font-size: 1.4vw;
	line-height: 1.2em;
	text-align: justify;
	color: black ;
	font-family: 'Playpen Sans', cursive;
	background-image: linear-gradient(180deg, hsla(196, 70%, 75%, 1) 0%, hsla(0, 0%, 97%, 1) 74%);
}

.vision h1{
	font-family: 'Playpen Sans', cursive;
	padding: 0.95vw;
	text-align:center;
	font-size: 2.5vw;
	
}

.vision-box {
    box-shadow: 0 0.396vw 1.979vw rgba(1 1 1 / 15%);
	border-radius: 1.65vw;
	padding: 2vw;
	background-color: #fff;
}

body.dark-mode .vision{
	background-image: linear-gradient(180deg, hsla(217, 65%, 32%, 1) 0%, hsla(219, 65%, 14%, 1) 74%);
	color: #f7f7f7;
}

body.dark-mode .vision-box {
	background-color: black;
}

/* courses style */

.Homecourses{
	padding-top: 8%;
	background-color: #F7F7F7 ;
	text-align: center;
}
body.dark-mode .Homecourses{
	background-color: #0C1C39;
} 

.Homecourses h2{
	font-size: 2.6vw;
	font-weight: bold;
	font-family: 'Playpen Sans', cursive;
	
}
.Homecourses a {
	text-decoration: none;
	color: black;
}

body.dark-mode .Homecourses a {
	color: #f7f7f7;
}

.Homecourses a:hover{
  color: #93D4EC;
}
.Homecourses a:visited{
  color: black ;
}
.Homecourses-item:hover{
            transform: scale(1.02);
}
.Homecourses-list label{	
    font-size: 1.9vw;
	font-weight: bold;
	font-family: 'Playpen Sans', cursive;
}
.Homecourses-list img{	
	width: 8.7vw;
}

.Homecourses-item {
	color: black;
	list-style-type: none;
	text-decoration: none;
    display: inline-block;
	overflow: hidden;
	width: 26.5vw;
    height: 31.5vw;
    border: 0.01vw solid var #93D4EC;
	border-radius: 1.65vw;
    box-shadow: 1vw 1vw #B5FDFB;
	color: black;
	background-image: radial-gradient(circle, hsla(179, 100%, 89%, 1) 0%, hsla(180, 100%, 97%, 1) 78%);
    padding: 2.8vw 1.2vw 0.8vw;
	margin: 1.17vw;
	transition: 0.7s;
	font-size: 1.17vw;
	font-family: 'Playpen Sans', cursive;
}

body.dark-mode .Homecourses-item{
	background-image: radial-gradient(circle, hsla(219, 65%, 14%, 1) 0%, hsla(206, 70%, 30%, 1) 78%);
	color: #f7f7f7;
    border: 0.01vw solid #0C1C39;
	box-shadow: 1vw 1vw #163C69;
}
.stars{
font-size:2vw;
}
.checked {
  color: orange;
}

/* parents reviews style */

.reviews{
	clear: left;
	padding-top: 9%;
	background-image:linear-gradient(360deg, hsla(196, 70%, 75%, 1) 0%, hsla(0, 0%, 97%, 1) 74%);
	text-align: center;
}

body.dark-mode .reviews{
	background-image: linear-gradient(360deg, hsla(217, 65%, 32%, 1) 0%, hsla(219, 65%, 14%, 1) 74%);
}

.reviews h2{
	font-size: 2.6vw;
    font-weight: bold;
	font-family: 'Playpen Sans', cursive;
}

.reviews h3{	
    font-size: 1.9vw;
	font-weight: bold;
	font-family: 'Playpen Sans', cursive;
}


.reviews-item{
	list-style-type: none;
	text-decoration: none;
	overflow: hidden;
	width: 27.5vw;
	height: 32.5vw;
    border: 0.6vw solid #f7f7f7;
	padding: 1.7vw 0.4vw; 
	color: black;
	background-color: #f7f7f7;
	display: inline-block;
	font-size: 1.17vw;
	font-family: 'Playpen Sans', cursive;
	margin: 0.7vw;
    box-shadow: 0 0.396vw 1.979vw rgba(1 1 1 / 15%);

}

body.dark-mode .reviews-item{
	background-color: #191919;
	color: #f7f7f7;
	border: 0.6vw solid #191919;
}

.reviews-item img{
	padding-top: 1.7vw;
	width: 5vw;
}



/* headings lines*/

.line1{
	width: 8vw;
	position: relative;
    border: none;
    height: 0.28vw;
    background: #B5FDFB;
	margin-left: auto;
	margin-right: auto;
}

body.dark-mode .line1{
	background: #163C69;

}

.line2{
	width: 8vw;
	position: relative;
    border: none;
    height: 0.28vw;
    background: black;
	margin-left: auto;
	margin-right: auto;

}
.line3{
	width: 8vw;
	position: relative;
    border: none;
    height: 0.28vw;
    background: white;
	margin-left: auto;
	margin-right: auto;
}

.pagination {
  font-size: 1.5vw;
  display: inline-block;
  justify-content: center;
  font-family: 'Playpen Sans', cursive;
}

.pagination-item {
  color: black ;
  float: left;
  padding: 3vw 1.2vw 0.1vw;
  text-decoration: none;
}

body.dark-mode .pagination-item{
	color: #f7f7f7;

}

/* button style*/
.button-container {
	padding: 5vw 1.4vw 2vw;
	font-family: 'Playpen Sans', cursive;
	font-size: 1.5vw;
}

.button-container button{
    font-size: 1.3vw;
    border: none;
	border-radius: 0.45vw;
	margin: 0.8vw;
	padding: 0.5vw 1.1vw;
}

@media screen and (max-width: 300px) {
  .button-container button {
	padding: 0.5vw 1.1vw;
    font-size: 1vw;
  }